<li class="mention well" data-tweet-id="<%= mention.tweet_id %>">
  <div class="user" data-user-screen-name="<%= mention.screen_name %>">
    <a class="profile" href="<%= Twitter_uri %>/<%= mention.screen_name %>">
      <img class="profile-img img-thumbnail" src="<%= mention.profile_image_url %>" alt="">
      <strong class="name"><%= mention.name %></strong>
      <span>@<strong class="screen-name"><%= mention.screen_name %></strong></span>
    </a>
    <a href="<%= Twitter_uri %>/<%= mention.screen_name %>/status/<%= mention.tweet_id %>" class="date" title="<%= mention.l_mentioned_at %>">
      <%= mention.l_mentioned_at %>
    </a>
  </div>

  <p class="text"><%= mention.text %> </p>
  <p class="reply-btn">
   <button type="button" class="btn btn-default reply-btn">Reply</button>
  </p>
  <div class="reply"></div>
</li>