<h1>Listing mentions</h1>
  <a class="fetch" href="/mentions/fetch">Fetch</a>

    <% @mentions.each do |mention| %>
<div class="mention" data-tweet-id="<%= mention.tweet_id %>">
  <div>
      <a href="<%= Twitter_uri %>/<%= mention.screen_name %>" data-user-id="<%= mention.user_id %>">
        <img src="<%= mention.profile_image_url %>" alt="">
        <strong><%= mention.name %></strong>
        <span>@<b><%= mention.screen_name %></b></span>
      </a>
      <small>
        <a href="<%= Twitter_uri %>/<%= mention.screen_name %>/status/<%= mention.tweet_id %>" title="<%= l mention.mentioned_at %>">
          <%= l(mention.mentioned_at, format: :short) %></a>
      </small>
  </div>

  <p><%= mention.text %> </p>
  <button type="button">Reply</button>
</div>
    <% end %>