<h1>Listing mentions</h1>
  <a class="fetch" href="/mentions/fetch">Fetch</a>

    <% @new_mentions.each do |mention| %>
<div class="mention" data-tweet-id="<%= mention.id %>">
  <div>
      <a href="<%= Twitter_uri %>/<%= mention.user.screen_name %>" data-user-id="<%= mention.user.id %>">
        <img src="<%= mention.user.profile_image_url %>" alt="">
        <strong><%= mention.user.name %></strong>
        <span>@<b><%= mention.user.screen_name %></b></span>
      </a>
      <small>
        <a href="<%= Twitter_uri %>/<%= mention.user.screen_name %>/status/<%= mention.id %>" title="<%= l mention.created_at %>">
          <%= l(mention.created_at, format: :short) %></a>
      </small>
  </div>

  <p><%= mention.text %> </p>
  <button type="button">Reply</button>
</div>
    <% end %>